<div *ngIf="mode==1" class="panel-body">
<form #f="ngForm" (ngSubmit)="onAddAliment(f.value)">
    <!-- <form>   -->
      <table>
        
        <div class="form-row">
         
          <tr>  <div class="form-group col-md-10">
          <label for="FoodItem">FoodItem</label>
          <input type="text" class="form-control" name="FoodItem" placeholder="FoodItem" ngModel>
        </div>
        </tr>
        <tr> <div class="form-group col-md-10">
          <label for="per100grams">per100grams</label>
          <input type="text" class="form-control" name="per100grams" placeholder="per100grams" ngModel>
        </div> </tr>
        
        <tr> <div class="form-group col-md-10">
          <label class="control-label">FoodCategory</label> 
          <input type="text" class="form-control" name="FoodCategory" placeholder="FoodCategory" ngModel>
      </div> </tr>
      
      <tr><div class="form-group col-md-10">
          <label class="control-label">KJ_per100grams</label> 
          <input type="text" class="form-control" name="KJ_per100grams" placeholder="KJ_per100grams" ngModel>
      </div> </tr>
      <tr><div class="form-group col-md-10">
        <label class="control-label">Cals_per100grams</label> 
        <input type="text" class="form-control" name="Cals_per100grams" placeholder="Cals_per100grams" ngModel>
    </div> </tr>
      <button type="submit" class="btn btn-primary">add food</button>
  </div>
  </table>
    </form>
  </div>
  <div class="container">
    <div class="panel panel-default">
    <div *ngIf="mode==2" class="panel-body">
       <div style="text-align:center"> <h1>Food added successfully </h1> </div>
      <div class="form-group">
        <label>FoodItem:</label>
         <label>{{currFood.FoodItem}}</label> 
      </div>
      <div class="form-group">
        <label>per100grams: </label>
         <label>{{currFood.per100grams}}</label> 
      </div>
      <div class="form-group">
        <label>FoodCategory:</label>
         <label>{{currFood.FoodCategory}}</label> 
      </div>
      <div class="form-group">
        <label>KJ_per100grams:</label>
         <label>{{ currFood.KJ_per100grams }}</label> 
      </div>
      <div class="form-group">
        <label>Cals_per100grams:</label>
         <label>{{currFood.Cals_per100grams}}</label> 
      </div>

    </div>
  </div>
</div>
      
      
      

      
   
  
