
<!DOCTYPE html>
<html >

<head>
<title>list athletes</title>
<meta charset="utf-8"/>
<style>

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
body {
   /* background-image: url("../static/images/bg.jpg"); */
   background-color: #cccccc;
}
</style>

 
</head>
<body >
 
 <!-- <div class="scrollmenu">
  <a th:href="@{index}">Acceuil</a>
   <a th:href="@{example}">consulter les clients </a>
  
  <a th:href="@{contact}">Contact</a>
  <a href="#about">aide</a>
</div>  -->

<!-- <div>
 <button type="submit">consulter les clients</button>
 </div>
 <br></br> -->
<!-- <div class="container spacer">
 	<form th:action="@{searchName}" method="get">
 	 <div>
 	 	<label>Mot clé :</label>
 	 	<input type="text" name="motSrch"/>
 	 	<button type="submit">Chercher</button>
 	 </div>
 	</form>
 	
 	<br></br>
 	
 	 <form th:action="@{addEtud}" method="get"> 
 	<form th:action="@{index}" method="get">
 	 	<label> ajouter client :</label>
 	 	 
 	 	<form>
 	 	<div > id  </div>
 		<div> <input type="number" name="id"/>   </div> 
 		 <div > Nom  </div>
 		<div> <input type="text" name="nom"/>   </div> 
 		 <div > Date de naissance </div>
 		<div>  <input type="text" name="date"/>   </div>
 		  <div >   Email </div>
 		  <div >   <input type="text" name="email"/> </div> 
 		 <div > Photo </div> 
 		<div > <input type="text" name="photo"/>  </div> 
 	 
 	 <br >	</br>
	 <button type="submit">add client</button> <br >	</br>
	  
 	  
 	 </form>
 	</form>
</div> -->
<!-- <div class="panel-body">
    <button class="btn btn-primary"> chercher</button>
</div> -->
<button type="button" class="btn btn-outline-primary" (click)="OnGetClient()">voir les clients</button>
<div class="panel-body">
	<form #f="ngForm" (ngSubmit)="searchAthlete(f.value)">
		<div class="form-group">
	<input type="text" class="form-control rounded"  name="keyword" ngModel>
	<button type="button" class="btn btn-outline-primary" type="submit">chercher</button>
       </div>
   </form>
</div>
<div class="container spacer">
  <table *ngIf="athletes" class="table table-striped">
  	<thead>
 		<tr>
			<th>Nom</th> <th>Date de naissance</th> <th>email</th>  
		 <th>Photo</th>
 		</tr> 	
		 <!-- <tr *ngFor ="let c of athletes_embedded.athletes"> -->
			<tr *ngFor ="let a of athletes._embedded.athletes">
				
				<td> {{a.nom}} </td>
			 <td> {{ a.date_naissance}} </td>
				<td> {{	a.email }} </td>
				<td> {{	a.photo }} </td>
				<td> <a class="btn btn-danger" (click)="onDeleteAthlete(a)"> delete</a> </td>
			 <!-- <td> {{c.FoodItem }}</td>
			 <td> {{c.per100grams}} </td>
			 <td> {{c.FoodCategory}} </td>
			 <td> {{ c.KJ_per100grams }}</td>
				<td> {{ c.Cals_per100grams}} </td> -->
		 </tr>
  	</thead>
  	<tbody>
  		<!-- <tr th:each="coach:${pageCoaches.content}">
  		
  		<td th:text="${coach.id}"></td> 
  			<td th:text="${coach.nom}"></td> 
  			<td th:text="${coach.date_naissance}"></td> 
  			<td th:text="${coach.email}"></td>
  		
  			
  		  
				  <td>	<img  th:src="@{'/images/'+${coach.photo}}" width="50" height="50" /> </td>  
  			<td><a onclick="return confirm('Etes vous sur ?')" th:href="@{suppCoach(id=${coach.id})}">Supprimer</a></td>
  		
  			
  		</tr> -->
    
  	</tbody>
  </table>
  <ul *ngIf="pages" class="nav nav-pills">
	  <li class="Pointing" [ngClass]="i==currentpage? 'active':'' " *ngFor="let p of pages; let i=index">
	  <a (click)="OnPageAthlete(i)">{{i+1}}</a>
	</li>
  </ul>
  </div>
  

</body>
</html>